# Assignment 3 - Pandas Data Analysis Practice

### 1. Write a Pandas program to create and display a dataframe from a specified dictionary data which has the index labels.

In [1]:
import pandas as pd
df={
    'Name':['Ankit','Abhishek','Manas','Rahul','Rishi'],
    'Roll-no':[13,87,4,68,7],
    'Marks':[46,99,46,76,96],
    'state':['Delhi','Madhaya Pradesh','Mumbai','Gujarat','Kerala']
}
k=pd.DataFrame(df)
print(k)

       Name  Roll-no  Marks    state
0     Ankit       13     46    Delhi
1  Abhishek       87     99  Haryana
2     Manas        4     46   Mumbai
3     Rahul       68     76  Gujarat
4     Rishi        7     96   Kerala

### 2. Write a Pandas program to read a csv file from a specified source and print the first 5 rows.

In [2]:
import pandas as pd
df=pd.read_csv("C:\\Users\\ankit\\Desktop\\Book2.csv")
print(df)

   R.no.    Name  Marks   Address
0     21  Ishaan     59     Delhi
1     27  Nikunj     69  Guwahati
2     14   David     79    Kanpur
3     25   Naman     81   Chennai
4      9   Ankit     99    Mumbai

### 3. Write a Pandas program to count the number of rows and columns of a Dataframe.

In [16]:
import pandas as pd
df={
    'Name':['Ankit','Abhishek','Manas','Rahul','Rishi'],
    'Roll-no':[13,7,41,68,72],
    'Marks':[46,99,46,76,96],
    'state':['Delhi','Madhaya Pradesh','Mumbai','Gujarat','Kerala']
}
k=pd.DataFrame(df)
num_rows=len(k)
num_cols=len(k.columns)
print("Number of rows are : ",num_rows)
print("Number of columns : ",num_cols)

Number of rows are :  5
Number of columns :  4

### 4. Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and souurce greater than 15. Sample Python dictionary data and list labels : exam_data ={'name':['Anastasia','Dima','Katherine','James','Emily','Michael','Matthew','Laura','Kelvin','Jonas'],'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],'attempts':[1,3,2,3,2,3,1,1,2,1],'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']} Labels=['a','b','c','d','e','f','g',labels=['a','b','c','d','e','f','g','h','i','j']]

In [17]:
import pandas as pd
import numpy as np
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kelvin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
selected_rows = df[(df['attempts'] < 2) & (df['score'] > 15)]
print("Selected rows where number of attempts < 2 and score > 15:")
print(selected_rows)

Selected rows where number of attempts < 2 and score > 15:
    name  score  attempts qualify
j  Jonas   19.0         1     yes

### 5. Write a Pandas program to calculate the mean of all student's scores. Data is stored in a dataframe. Sample Pyhton dictionary data and list labels:   exam_date={'name':['Anastasia','Dima','Katherie','James','Emily','Michael','Matthew','Laura','Kelvin','Jonas'], 'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19], 'attempts':[1,3,2,3,2,3,1,1,2,1], 'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']} labels=['a','b','c','d','e','f','g','h','i','j']

In [18]:
import pandas as pd
import numpy as np
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherie', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kelvin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
mean_score = df['score'].mean()
print("Mean of all student's scores:", mean_score)

Mean of all student's scores: 13.5625